.intro
  .wrapper

    .info
      .desc
        Продажа сахара оптом по Москве и МО

      .about
        Крупный и мелкий опт. От 20 рублей за килограмм. Доставка. Оставьте заявку и мы с вами свяжемся.


    .top-form
      %input{type: :text, placeholder: 'Введите ваше имя'}
      -#%input{type: :text, placeholder: 'Введите ваш email'}
      %input{type: :text, placeholder: 'Введите ваш номер телефона'}
      %button#order-button
        Заказать консультацию

.modal-overlay
.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!